body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f5f5;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #111;
    color: white;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #00adb5;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00adb5, #393e46);
    color: white;
    text-align: center;
}

.hero h2 {
    font-size: 40px;
}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

/* Projects */
.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

/* Footer */
footer {
    background: #111;
    color: white;
    padding: 15px;
}